body {
  background-image: radial-gradient(
    circle,
    #6f8ac5,
    #4798cb,
    #18a4c6,
    #18aeb7,
    #46b5a2
  );
}
#container {
  margin: 170px auto;
  width: 450px;
  height: 320px;
  border: 1px #328a7b;
  border-radius: 50px;
  border-style: groove;
  padding: 20px 0px 60px 20px;
  background: transparent;
  box-shadow: 0 0 50px #077966;
}
#log {
  margin: auto;
  width: 175px;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}
#email {
  width: 270px;
  margin: auto;
}
#t1 {
  margin: 15px auto;
  width: 250px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50px;
  outline: none;
  font-size: 19px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: transparent;
}
#pass {
  width: 270px;
  margin: auto;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: azure;
}
#t2 {
  margin: 15px auto;
  width: 250px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50px;
  outline: none;
  font-size: 16px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: transparent;
}
#btn {
  margin: 20px auto;
  width: 180px;
}
button {
  width: 150px;
  height: 40px;
  border: 1px solid #1e534b;
  border-radius: 50px;
  background-color: #4ecab6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: azure;
  font-weight: 600;
}
button:hover {
  cursor: pointer;
  background-color: rgb(50, 177, 92);
  color: azure;
}
p:hover {
  cursor: default;
}
/* input:focus {
  transform: scale(1.2);
} */
input:hover {
  transform: scale(1.2);
}
