@media (min-width: 700px) {
  /*for comp with mobile if strech is below 700px it comes in one single box*/
  #container {
    display: flex;
    align-items: flex-start;
    /* flex-direction: column;  aligns in column*/
  }
  #container2 {
    display: flex;
    /* justify-content: center; */
    /*to justify content*/
    justify-content: space-between;
    /*puts space between thems*/
  }
}
#container3 {
  display: flex;
  flex-wrap: wrap;
  /*warps the content in single box at certain point it push down*/
}
#container div,
#container2 div,
#container3 div {
  border: 1px solid black;
  padding: 10px;
}
#b1 {
  flex: 1;
  order: 2;
}
#b2 {
  flex: 1;
  order: 3;
}
#b3 {
  flex: 1;
  order: 1;
}
#b4,
#b5 {
  /* width: 30%; */
  flex-basis: 20%;
  /*works same as width but use this in flex*/
}
