#container {
  display: flex;
  align-items: flex-start;
  /* flex-direction: column;  aligns in column*/
}
#container2 {
  display: flex;
  /* justify-content: center; */
  /*to justify content*/
  justify-content: space-between;
  /*puts space between thems*/
}
#container div,
#container2 div {
  border: 1px solid black;
  padding: 10px;
}
#b1 {
  flex: 1;
  order: 2;
}
#b2 {
  flex: 1;
  order: 3;
}
#b3 {
  flex: 1;
  order: 1;
}
#b4,
#b5 {
  width: 10%;
}
