#wrapper {
  display: grid;
  /* grid-template-columns: 20% 20%; */
  grid-template-columns: repeat(
    3,
    2fr 3fr
  ); /*fraction, can also use px and anything*/
  gap: 1em;
  grid-auto-rows: 100px; /*height*/
  grid-auto-rows: minmax(100px, auto); /*if content in low exceeds 100px it auto scales to cintent size*/
}
#wrapper div {
  background-color: #eee;
}
#wrapper div:nth-child(odd) {
  background-color: #ddd;
}
